<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :telephone %>
  <%= f.number_field :telephone %>
</div>

<div class="field">
  <%= f.label :mobile %>
  <%= f.number_field :mobile %>
</div>