<div>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :street_name %>
  <%= form.text_field :street_name %>

  <%= form.label :street_number %>
  <%= form.text_field :street_number %>

  <%= form.label :city %>
  <%= form.text_field :city %>

  <%= form.label :country %>
  <%= form.text_field :country %>

  <%= form.label :postal_code %>
  <%= form.text_field :postal_code %>
  <%= link_to_remove_association "Remove Address", form %>
</div>