<%= form_for(@contact_detail) do |f| %>
  <% if contact_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_detail.errors.count, "error") %> prohibited this contact_detail from being saved:</h2>

      <ul>
      <% contact_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class="form-group">
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Description" %>
  </div>

  <div class="form-group">
    <%= f.number_field :telephone, class: "form-control", placeholder: "Telephone" %>
  </div>

  <div class="form-group">
    <%= f.number_field :mobile, class: "form-control", placeholder: "Mobile" %>
  </div>

  <div class="form-group">
    <%= f.submit, class: "btn btn-primary" %>
  </div>
<% end %>
